@charset "utf-8";

:root {
    /* color */
    --color-red: #d50000;
    --color-orange: #c41c00;
    --color-yellow: #fffd61;
    --color-deep-blue: #0069c0;
    --color-blue: #2196f3;
    --color-light-blue: #6ec6ff;
    --color-purple: #3f51b5;
    --color-black: #1b1b1b;
    --color-dark-black: #0c0c0c;
    --color-gray: #6d6d6d;
    --color-light-grey: #dfdfdf;
    --color-beige: #f5f5dc;
    --color-white: #ffffff;

    /* size */
    --container-padding-d: 2rem 1.5rem;
    --cpntainer-padding-tm: 1.5rem 1rem;

    /* animation */
    --animation-duration: 0.3s;
}

/* PRODUCT */
.product {
    background: var(--color-white);
}

.product .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--container-padding-d);
    display: flex;
    flex-flow: column nowrap;
}

.product .title {
    margin: 2rem 0;
    text-align: center;
}

.product .title span { 
    font-size: 1.8rem;
    border-bottom: 2px solid var(--color-black);
}

.product .buttons{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.product .buttons span{
    width: 33.3333333%;
    padding: 1rem;
    border: 1px solid var(--color-black);
    font-family: 'Lobster', 'sans-serif';
    font-size: 1.5rem;
    cursor: pointer;
    transition: var(--animation-duration);
}

.product .buttons span:hover {
    background: var(--color-black);
    color: var(--color-white);
}

.product .buttons span:nth-child(1),
.product .buttons span:nth-child(2){
    border-right: none;
}

.items{
    margin: 2rem 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.item{
    width: 26%;
    margin: 2rem 0;
}

.item .img-box{
    margin-bottom: 1rem;
}

.item .img-box img{
    box-shadow: 5px 5px 10px var(--color-gray);
    transition: var(--animation-duration);
}
.item .img-box img:hover{
    transform: scale(1.1);
}

.item .contents{
    padding: 0.5rem 1rem;
}

.item .contents span{
    display: block;
    padding: 0.2rem 0;
}

.item .contents .item-title{
    font-family: 'Lobster', 'sans-serif';
    font-size: 2rem;
}

.item .contents .item-type,
.item .contents .item-size {
    font-size: 0.8rem;
    color: var(--color-gray);
}

.item .icon {
    padding: 0.8rem 0;
    display: flex;
}

.item .icon i{
    margin-right: 1rem;
    font-size: 1.5rem;
    color: var(--color-light-grey);
    cursor: pointer;
    transition: var(--animation-duration);
}

.item .icon i:nth-child(1):hover{
    color: var(--color-red);
}

.item .icon i:nth-child(2):hover {
    color: var(--color-blue);
}

.item .icon button{
    width: 100%;
    padding: 0.3rem;
    border: 1px solid var(--color-black);
    border-radius: 0;
    background: var(--color-white);
    cursor: pointer;
    transition: var(--animation-duration);
}

.item .icon button:hover {
    
    
    
    
    background: var(--color-black);
    color: var(--color-white);
}


