@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

:root {
  /* color */
  --color-red: #d50000;
  --color-orange: #c41c00;
  --color-yellow: #fffd61;
  --color-deep-blue: #0069c0;
  --color-blue: #2196f3;
  --color-light-blue: #6ec6ff;
  --color-purple: #3f51b5;
  --color-dark-black: #0c0c0c;
  --color-black: #1b1b1b;
  --color-gray: #6d6d6d;
  --color-light-grey: #dfdfdf;
  --color-beige: #f5f5dc;
  --color-white: #ffffff;

  /* size */
  --container-padding-d: 2rem 1.5rem;
  --cpntainer-padding-tm: 1.5rem 1rem;

  /* animation */
  --animation-duration: 0.3s;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: var(--color-white);
}

.header .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: var(--container-padding-d);
}

.header .main-title {
  font-size: 2.5rem;
  border-bottom: 2px solid var(--color-black);
  transition: var(--animation-duration);
}

.header .main-title:hover {
  color: var(--color-orange);
  border-bottom: 2px solid var(--color-orange);
}

.header .nav {
  width: 18rem;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.header .nav span {
  font-size: 1.2rem;
  border-bottom: 2px solid transparent;
  transition: var(--animation-duration);
}

.header .nav span:hover {
  color: var(--color-orange);
  border-bottom: 2px solid var(--color-orange);
}

.header .nav-btn{
  display: none;
  align-self: center;
  transition: var(--animation-duration);
  cursor: pointer;
}

.header .nav-btn.active .bar:nth-child(1){
  transform: translateY(10px) rotate(135deg);
}

.header .nav-btn.active .bar:nth-child(2) {
  transform: scale(0);
}

.header .nav-btn.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-135deg);
}

.header .nav-btn .bar{
  display: block;
  width: 1.875rem;
  height: 0.25rem;
  margin: 0.375rem 0;
  border-radius: 3px;
  background: var(--color-black);
  transition: var(--animation-duration);
}

.header .nav-btn:hover .bar{
  background-color: var(--color-orange);
}

.header .nav-tm{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: var(--animation-duration);
  width: 60vw;
  height: 100vh;
  margin-top: 5.5rem;
  padding: var(--cpntainer-padding-tm);
  background: var(--color-black);
}

.header .nav-tm.active{
  transform: translateX(0);
}

.header .nav-tm span{
  display: block;
  margin: 2rem 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: var(--color-white);
  text-align: center;
}

.header .nav-tm span a{
  border-bottom: 2px solid transparent;
  transition: var(--animation-duration);
}

.header .nav-tm span:hover a{
  border-bottom: 2px solid var(--color-orange);
  color: var(--color-orange);
}

/* SLIDER */
.slider .container {
  position: relative;
  margin-top: 7.125rem;
}

.slider .title {
  position: absolute;
  text-indent: -9999px;
}

.slider .slide {
  opacity: 0;
  transition: 2s;
}

.slider .slide.active {
  opacity: 1;
}

.slider .slide1,
.slider .slide2 {
  position: absolute;
}

.slider .slide .sub-title {
  position: absolute;
  z-index: 50;
  font-family: 'Lobster', 'sans-serif';
  font-size: 2rem;
}

.slider .slide1 .sub-title {
  right: 2rem;
  bottom: 2rem;
  color: var(--color-beige);
  text-shadow: 3px 3px 3px var(--color-dark-black);
}

.slider .slide2 .sub-title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-yellow);
  text-shadow: 3px 3px 3px var(--color-dark-black);
}

.slider .slide3 .sub-title {
  left: 2rem;
  bottom: 2rem;
  color: var(--color-white);
  text-shadow: 3px 3px 3px var(--color-orange);
}

/* PIECE */
.piece {
  background: var(--color-white);
}

.piece .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--container-padding-d);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.piece .title {
  width: 30%;
  text-align: center;
}

.piece .title span {
  width: 2.5em;
  margin: 0 auto;
  font-size: 1.8rem;
  border-bottom: 2px solid var(--color-black);
}

.piece .watercolor,
.piece .oil {
  width: 30%;
  height: 31.25rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;

}

.piece .watercolor .sub-title,
.piece .oil .sub-title {
  padding: 2rem;
  font-family: 'Lobster', 'sans-serif';
  font-size: 1.5rem;
}

.piece .watercolor .img-box img,
.piece .oil .img-box img {
  box-shadow: 5px 5px 10px var(--color-gray);
  transition: 0.3s;
}

.piece .watercolor .img-box img:hover,
.piece .oil .img-box img:hover {
  transform: scale(1.1);
}

.piece .watercolor .text,
.piece .oil .text {
  height: 9.375rem;
  padding: 2rem 0;
  word-break: break-all;
}

.piece .watercolor .text span:nth-child(1),
.piece .oil .text span:nth-child(1) {
  display: block;
}

.piece .watercolor .text span:nth-child(2),
.piece .oil .text span:nth-child(2) {
  display: none;
}

.piece .btn {
  width: 8rem;
  height: 2.188rem;
  padding: 0.5rem 0;
  align-self: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  border: none;
  background: var(--color-black);
  color: #ffffff;
  transition: 0.3s;
}

.piece .btn span {
  font-family: 'Lobster', 'sans-serif';
}

.piece .btn:hover {
  background: var(--color-orange);
}

/* ACADEMY */
.academy {
  background: var(--color-beige);
}

.academy .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--container-padding-d);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.academy .title {
  width: 30%;
  text-align: center;
}

.academy .title span {
  width: 2.5em;
  margin: 0 auto;
  font-size: 1.8rem;
  border-bottom: 2px solid var(--color-black);
}

.academy .hobby,
.academy .major,
.academy .enjoy {
  width: 20%;
  height: 31.25rem;
  padding-top: 5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.academy .hobby .sub-title,
.academy .major .sub-title,
.academy .enjoy .sub-title {
  padding: 2rem;
  font-family: 'Lobster', 'sans-serif';
  font-size: 1.5rem;
}

.academy .hobby .img-box img,
.academy .major .img-box img,
.academy .enjoy .img-box img {
  box-shadow: 5px 5px 10px var(--color-gray);
  transition: var(--animation-duration);
}

.academy .hobby .img-box img:hover,
.academy .major .img-box img:hover,
.academy .enjoy .img-box img:hover {
  transform: scale(1.1);
}

.academy .hobby .text,
.academy .major .text,
.academy .enjoy .text {
  padding: 2rem 0;
  word-break: break-all;
}

/* CONTACT-US */
.contact-us {
  background: var(--color-dark-black);
}

.contact-us .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--container-padding-d);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-light-grey);
}

.contact-us .title {
  width: 30%;
  text-align: center;
}

.contact-us .title span {
  width: 2.5em;
  margin: 0 auto;
  font-size: 1.8rem;
  border-bottom: 2px solid var(--color-white);
}

.contact-us .customer,
.contact-us .about,
.contact-us .social {
  width: 20%;
  height: 31.25rem;
  padding-top: 8rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.contact-us .customer .sub-title,
.contact-us .about .sub-title,
.contact-us .social .sub-title {
  padding: 1rem;
  font-family: 'Lobster', 'sans-serif';
  font-size: 1.5rem;
}

.contact-us .customer li,
.contact-us .about li,
.contact-us .social li {
  padding: 0.5rem;
  border-bottom: 2px solid transparent;
  transition: var(--animation-duration);
}

.contact-us .customer li:hover,
.contact-us .about li:hover {
  color: var(--color-orange);
  border-bottom: 2px solid var(--color-orange);
}

.contact-us .social i {
  font-size: 2rem;
}

.contact-us .social li:nth-child(1):hover {
  color: var(--color-red);
}

.contact-us .social li:nth-child(2):hover {
  color: var(--color-purple);
}

.contact-us .social li:nth-child(3):hover {
  color: var(--color-light-blue);
}

.contact-us .social li:nth-child(4):hover {
  color: var(--color-yellow);
}

/* FOOTER */
.footer {
  border-top: 2px solid var(--color-orange);
  background-color: var(--color-dark-black);
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--container-padding-d);
  text-align: center;
}

.footer .address {
  font-weight: 300;
  font-size: 0.8rem;
  font-style: normal;
  color: var(--color-white);
}

.footer .to-top{
  position: fixed;
  right: 1rem;
  bottom: -2rem;
  transition: var(--animation-duration);
}

.footer .to-top.active{
  bottom: 2rem;
}

.footer .to-top span{
  padding: 0.5rem 0.2rem;
  border-radius: 2px;
  background: var(--color-white);
  cursor: pointer;
}

.footer .to-top span:hover{
  background: var(--color-orange);
  color: var(--color-white);
}


/* 1024px */
@media screen and (max-width:64rem) {
  /* PIECE */
  .piece .btn{
    bottom: 1.5rem;
  }
}

/* 768px */
@media screen and (max-width:48rem) {
  /* HEADER */
  .header .container{
    padding: var(--cpntainer-padding-tm);
  }
  .header .main-title{
    font-size: 2rem;
  }
  .header .nav{
    display: none;
  }

  .header .nav-btn{
    display: block;
  }

  .header .nav-tm {
    display: block;
  }

  /* SLIDER */
  .slider .container {
    position: relative;
    margin-top: 5.5rem;
  }

  .slider .slide .sub-title {
    font-size: 1.5rem;
  }

  .slider .slide1 .sub-title {
    right: 1rem;
    bottom: 1rem;
  }

  .slider .slide3 .sub-title {
    left: 1rem;
    bottom: 1rem;
  }

  /* PIECE */
  .piece .container{
    position: relative;
    padding: var(--cpntainer-padding-tm);
    justify-content: space-evenly;
  }

  .piece .title{
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .piece .watercolor,
  .piece .oil{
    padding-top: 5rem;
  }

  .piece .watercolor .text,
  .piece .oil .text {
    padding: 1.5rem 0;
  }

  .piece .watercolor .text span:nth-child(1),
  .piece .oil .text span:nth-child(1) {
    display: none;
  }

  .piece .watercolor .text span:nth-child(2),
  .piece .oil .text span:nth-child(2){
    display: block;
  }

  .piece .btn{
    left: 50%;
    bottom: 2.5rem;
    transform: translateX(-50%);
  }

  /* ACADEMY */
  .academy .container{
    position: relative;
    padding: var(--cpntainer-padding-tm);
    justify-content: space-evenly;
  }

  .academy .title {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }

  /* CONTACT-US */
  .contact-us .container{
    position: relative;
    padding: var(--cpntainer-padding-tm);
    justify-content: space-evenly;
  }

  .contact-us .title {
    width: 50%;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }

  /* FOOTER */
  .footer .container{
    padding: var(--cpntainer-padding-tm);  
  }
}

/* 480px */
@media screen and (max-width:30rem) {
  /* SLIDER */
  .slider .slide .sub-title{
    font-size: 1.2rem;
  }
  .slider .slide1 .sub-title {
    right: 0.5rem;
    bottom: 0.5rem;
  }

  .slider .slide3 .sub-title {
    left: 0.5rem;
    bottom: 0.5rem;
  }

  /* PIECE */
  .piece .container {
    justify-content: space-around;
  }

  .piece .title{
    width: 100%;
  }

  /* ACADEMY */
  .academy .container {
    height: 34.250rem;
    padding-top: 5.5rem;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .academy .title {
    width: 100%;
  }

  .academy .hobby,
  .academy .major,
  .academy .enjoy {
    width: 100%;
    height: 6.875rem;
    padding-top: 1rem;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .academy .hobby .sub-title,
  .academy .major .sub-title,
  .academy .enjoy .sub-title {
    padding-right: 3rem;
  }

  .academy .img-box img{
    max-height: 5.5rem;
  } 

  .academy .hobby .text,
  .academy .major .text,
  .academy .enjoy .text {
    display: none;
  }

  /* CONTACT-US */
  .contact-us .container {
    height: 34.250rem;
    padding-top: 5.5rem;
    flex-flow: row wrap;
    justify-content: center;
  }

  .contact-us .title{
    width: 100%;
  }

  .contact-us .customer,
  .contact-us .about,
  .contact-us .social {
    width: 100%;
    height: 9rem;
    padding: 3.5rem 2rem 0;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .contact-us .customer li,
  .contact-us .about li,
  .contact-us .social li {
    padding: 0.2rem;
    font-size: 0.8rem;
  }

  .contact-us .social ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .contact-us .social li{
    margin-left: 0.4rem;
  }

  .contact-us .social i {
    font-size: 1.5rem;
  }

  /* FOOTER */
  .footer .to-top {
    right: 0.5rem;
  }

  .footer .to-top.active {
    bottom: 1rem;
  }
  
  .footer .to-top span {
    padding: 0.25rem 0.1rem;
    font-size: 0.5rem;
  }
}